<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="RedisConfig" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>

  <RedisConfig>
    <add key="DefaultDb" value="1"></add>
    <add key="ReadWriteHosts" value="127.0.0.1"></add>
    <add key="ReadOnlyHosts" value="127.0.0.1"></add>
    <add key="MaxReadConnection" value="100"></add>
    <add key="MaxWriteConnection" value="50"></add>
  </RedisConfig>
  
  <appSettings>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
